@import url("../../assets/fonts/font.css");


.banner {
    background-image: url('../../assets/images/svg/background-banner.png.svg'), url('../../assets/images/svg/grid-box.png');
    background-repeat: no-repeat;
    background-size: 70% 100%, 100% 100%;
    background-position: right center, right top;
    border-radius: 0px 24px 24px 0px;
    margin-right: 10px;
    width: calc(100% - 10px);
}

.tag-1 {
    border-radius: 6px;
    background-color: #FFE785;
    font-size: 12px;
    font-weight: 500;
    padding: 5px 10px;
    color: #0D0C10;
}