@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./BricolageGrotesque-Regular.ttf") format("truetype");
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./BricolageGrotesque-Bold.ttf") format("truetype");
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "Bricolage Grotesque";
    src: url("./BricolageGrotesque-Italic.ttf") format("truetype");
    font-weight: normal;
    font-style: italic;
}